<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="RoITestSuites" thread-count="1" parallel="tests">

	<listeners>
		<listener class-name="com.roi.utility.EmailReport" />
	</listeners>

	<test name="ROI Application Automation Test Reports">
		<classes>
			<class name="com.roi.suites.RoiCompleteFlow" />
		</classes>
	</test>
</suite>